<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>servlets.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SEmpleado</servlet-name>
        <servlet-class>servlets.SEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPerfilEmpleado</servlet-name>
        <servlet-class>servlets.SPerfilEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SPlato</servlet-name>
        <servlet-class>servlets.SPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCategoriaPlato</servlet-name>
        <servlet-class>servlets.SCategoriaPlato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SEmpleado</servlet-name>
        <url-pattern>/SEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPerfilEmpleado</servlet-name>
        <url-pattern>/SPerfilEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SPlato</servlet-name>
        <url-pattern>/SPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCategoriaPlato</servlet-name>
        <url-pattern>/SCategoriaPlato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
